@charset "UTF-8";

.producer-title{
    background-image: url(images/levels-bg.jpg);
    height: 230px;
    margin-bottom: 40px;
    text-align: center;
}
.main{
    font-family: 'Philosopher', serif;
    margin-left: 50px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}
.pp{
    font-size: 1.5rem;
}
.proimg{
    height: 150px;
    width: 350px;
}
.group1{
    margin-left: 100px;
}
.group2{
    margin-top: 50px;
}
.group3{
    margin-left: 50px;
}